.landingPage{
    width: 100vw;
    overflow-x: hidden;
    white-space: nowrap;
    display: inline-block;
    background-image: url('../../assets/landingPage.png');
    background-repeat: no-repeat;
    background-size: contain;

    .image{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100vw;
        height: auto;
        overflow-x: hidden;
        white-space: nowrap;
    }

    .container{
        margin: 250px 5vw;

        .new{
            display: inline-block;
            width: auto;
            background-color: #D4EAE2;
            border-radius: 40px;
            color: #ffffff;
            padding: 5px;

            .newText{
                display: inline-block;
                background-color: #54BD7F;
                color: #ffffff;
                font-size: 11px;
                border-radius: 20px;
                padding: 5px 10px;
                margin: 0;
                margin-right: 10px;
            }

            .stayConnect{
                display: inline-block;
                font-size: 12px;
                color: #01022D;
                margin: 0;
                margin-right: 10px;
            }
        }

        .header{
            font-size: 60px;
            margin: 10px 0;
        }

        .subheader{
            font-size: 30px;
            font-weight: 500;
        }

        .search{
            display: inline-flex;
            background-color: #ffffff;
            border-radius: 5px;
            padding: 10px;
            margin-top: 50px;

            .searchInput{
                height: 50px;
                width: 250px;
                background-color: #F5F6FA;
                border: none;
                margin-right: 20px;
                border-radius: 5px;
                padding: 0 20px;

                &:focus, &:active{
                    border: none;
                    outline: none;
                }
            }

            .searchButton{
                border: none;
                border-radius: 5px;
                outline: none;
                width: 50px;
                background-color: #54BD7F;

                .fas{
                    color: #ffffff;
                    font-size: 15px;
                }

                &:hover{
                    border: none;
                    outline: none;
                    background-color: #3a9962;
                    cursor: pointer;
                }
            }
        }

        .companies{
            display: flex;
            flex-direction: column;
            margin-top: 100px;

            .companiesHeader{
                color: #01022D;
                font-size: 14px;
            }

            .icons{
                display: flex;
                flex-direction: row;
                width: 160px;
                height: auto;
                background-color: #ffffff;
                border-radius: 5px;
                padding: 10px 5px;

                img{
                    width: 20px;
                    height: 20px;
                    margin: auto 5px;
                    background-color: #ffffff;
                    padding: 5px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px #dddddd;
                }
            }
        }
    }
}