.exploreSection{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 0 5vw;
    height: auto;
    margin-bottom: 100px;

    .image{
        width: 70%;
        height: auto;
        margin-left: -100px;
        object-fit: contain;
    }

    .explore{
        width: 30%;
        margin-top: 150px;
        display: flex;
        flex-direction: column;

        .header{
            color: #01022D;
            font-size: 35px;
            font-weight: 700;

            .green{
                color: #54BD7F;
            }
        }

        .body{
            color: #9798ad;
            font-weight: 500;
            line-height: 2;
            font-size: 16px;
        }

        .exploreButton{
            margin-top: 100px;
            width: 150px;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 20px 10px;
            background-color: #54BD7F;
            color: #ffffff;
            font-size: 12px;
            font-weight: 600;
            transition: background-color .3s ease;

            &:hover{
                cursor: pointer;
                background-color: #2b9e5b;
                transition: background-color .3s ease;
            }
        }
    }
}

@media only screen and (max-width: 1450px){
    .exploreSection{
        .explore{
            .header{
                font-size: 28px;
            }

            .body{
                font-size: 12px;
            }

            .exploreButton{
                margin-top: 50px;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .exploreSection{
        flex-direction: column;
        align-items: center;
        align-content: center;

        .image{
            width: 90%;
            margin: auto;
        }

        .explore{
            margin-top: 0;
            width: auto;
        }
    }
}