.newsletter{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 0 5vw;
    height: auto;
    margin-bottom: 100px;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #EDF1F4;
        border-radius: 20px;
        padding: 100px 0;

        .newsHeader{
            color: #01022D;
            font-size: 35px;
            font-weight: 700;
            text-align: center;
    
            .green{
                color: #54BD7F;
            }
        }

        .inputContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            height: 70px;
            background-color: #ffffff;
            border-radius: 20px;
            padding: 0 20px;

            .email{
                width: 20px;
                height: 20px;
            }

            .input{
                width: 50%;
                height: 50px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                outline: none;
                color: #9798ad;
            }

            .subscribeButton{
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 50px;
                border-radius: 10px;
                border: none;
                outline: none;
                padding: 5px 20px;
                background-color: #54BD7F;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                transition: all .3s ease;

                &:hover{
                    cursor: pointer;
                    background-color: #32945b;
                    transition: all .3s ease;
                }

                .send{
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1450px){
    .newsletter{
        .content{
            padding: 70px 0;

            .newsHeader{
                font-size: 28px;
            }

            .inputContainer{
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .newsletter{
        .content{
            .inputContainer{
                width: 80%;
            }
        }
    }
}