.switch{
  display: flex;
  flex-direction: row;

  .reactSwitchCheckbox {
    display: none;
    height: 0;
    width: 0;
  }
  
  .reactSwitchLabel {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 100px;
    transition: background-color .2s;
  }
  
  .reactSwitchLabel .reactSwitchButton {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 20px;
    transition: 0.2s;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .reactSwitchLabel:active .reactSwitchButton {
    width: 60px;
  }

  .sun, .moon{
    width: 20px;
    height: 20px;
    margin: auto 10px;
  }

  .moon{
    fill: #525252;
  }
}