.mobileApp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    padding: 0 5vw;
    height: auto;
    margin-bottom: 100px;

    .image{
        width: 30vw;
        height: auto;
        margin-left: 100px;
        object-fit: contain;
        animation: scaling 5s infinite ease-in-out;    
    }

    .download{
        width: 30vw;
        margin-top: 150px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;

        .subheader{
            color: #9798ad;
            font-size: 25px;
            font-weight: 700;
        }

        .header{
            color: #01022D;
            font-size: 35px;
            font-weight: 700;
            margin-top: 0;

            .green{
                color: #54BD7F;
            }
        }

        .body{
            color: #9798ad;
            font-size: 16px;
            font-weight: 500;
            margin-top: 0;
            line-height: 2;
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 20px;

            .button{
                display: flex;
                align-items: center;
                flex-direction: row;
                width: auto;
                height: 60px;
                padding: 0 10px;
                background-color: #000000;
                border-radius: 5px;
                transition: all .3s ease;
                
                &:first-child{
                    margin-right: 10px;
                }

                &:hover{
                    cursor: pointer;
                    background-color: #444444;
                    transition: all .3s ease;
                }

                .appleButton, .googleButton{
                    width: 30px;
                    height: 30px;
                }

                .column{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;

                    .tag{
                        color: #ffffff;
                        font-size: 12px;
                        font-weight: 600;
                        margin: 0;
                        padding: 0;
                    }
    
                    .brand{
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: 700;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1450px){
    .mobileApp{
        .download{
            .header{
                font-size: 28px;
            }

            .body{
                font-size: 12px;
            }

            .buttons{
                margin-top: 50px;

                .column{
                    .tag{
                        font-size: 10px;
                    }

                    .brand{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .mobileApp{
        flex-direction: column;
        align-items: center;
        align-content: center;

        .image{
            width: 50%;
            margin: auto;
        }

        .download{
            margin-top: 0;
            margin-left: 0;
            width: auto;
        }
    }
}

@media only screen and (max-width: 450px){
    .mobileApp{
        .download{
            .buttons{
                flex-direction: column;    
                
                .button{
                    width: 200px;
                    
                    &:first-child{
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@keyframes scaling {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}