.jobsCategory{
    text-align: center;
    background-color: #ffffff;
    padding: 0 5vw;
    height: auto;
    margin-bottom: 100px;

    .header{
        color: #01022D;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 0;

        .green{
            color: #54BD7F;
        }
    }

    .body{
        color: #9798ad;
        font-weight: 400;
        line-height: 2;
        font-size: 16px;
    }

    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .categoryCard{
            width: 20%;
            height: 300px;
            background: linear-gradient(90deg, #ffffff, #fcfcfc);
            box-shadow: 0 10px 20px #eeeeee;
            margin: 30px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 10px;
            border-bottom: 5px solid transparent;
            transform: scale(1);
            transition: all .5s ease;

            &:hover{
                cursor: pointer;
                border-bottom: 5px solid #54BD7F;
                background: linear-gradient(#ffffff, #ffffff);
                box-shadow: 0 10px 30px #bbbbbb;
                transform: scale(1.05);
                transition: all .5s ease;
            }

            .circle{
                width: 100px;
                height: 100px;
                border-radius: 50px;
                background-color: #eeeeee;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon{
                    width: 40px;
                    height: 40px;
                }
            }

            .header{
                font-size: 20px;
                font-weight: 700;
                color: #01022d;
            }

            .body{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 1450px){
    .jobsCategory{
        .header{
            font-size: 28px;
        }

        .body{
            font-size: 12px;
        }

        .container{
            flex-wrap: wrap;
            
            .categoryCard{
                width: 300px;
            }
        }
    }
}