.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 150px;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;

    .logo{
        margin-left: 5vw;
        width: 150px;
        height: auto;
        margin-top: 10px;

        &:hover{
            cursor: pointer;
        }
    }

    .navigation{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        margin-right: 5vw;

        .navItem{
            margin: auto 25px;
            font-size: 14px;
            text-decoration: none;
            color: #01022D;
            padding: 20px 0px;
            display: inline-block;
            position: relative;
            letter-spacing: 1px;

            .fas{
                margin-right: 10px;
            }

            a, a:visited{
                text-decoration: none;
                color: #01022D;
            }


            &:hover a, &:hover a:visited{
                color: #FF9166;
            }

            &:hover, label:hover{
                color: #FF9166;
                cursor: pointer;
            }

            &::before{
                content: "";
                transition: 300ms;
                height: 2px;
                position: absolute;
                background-color: #FF9166;
                width: 0%;
                bottom: 10px;
            }

            &:hover::before{
                width: 100%;
            }

            &:last-child {
                background-color:#54BD7F;
                padding: 15px;
                border-radius: 5px;

                a, a:visited{
                    color: #ffffff;
                }

                &:hover{
                    background-color: #3a9962;
                }

                &::before{
                    content: none;
                }
            }
        }
    }

    .hamburger{
        display: none;
        width: 50px;
        height: 50px;
        margin-right: 40px;

        &:hover{
            cursor: pointer;
            animation: rotation .5s ease-in-out;
        }
    }
}

.small{
    background-color: #ffffff;
    height: 70px;
    transition: all .3s ease;
    border-bottom: 3px solid #FF9166;
}

.active{
    color: #FF9166 !important;
}

.invisible{
    display: none;
}

@media only screen and (max-width: 1400px){
    .navbar{
        .navigation{
            display: none;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: 0;
            overflow-x: visible;
            z-index: -1;
            padding: 20px;
            padding-top: 150px;
            background-color: #ffffff;
            border-radius: 0 0 0px 10px;
            margin-right: 0;

            .navItem{
                display: flex;
            }
        }

        .hamburger{
            display: flex;
        }
    }

    .small{
        .navigation{
            top: 73px;
            padding-top: 20px;
        }
    }
}

@media only screen and (max-width: 500px){
    .navbar{
        height: 80px;

        .navItem{

            .logo{
                width: 100px;
            }
        }

        .navigation{
            padding-top: 100px;

            .navItem{
                padding: 15px 0;
            }
        }

        .hamburger{
            width: 40px;
            height: 40px;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }
  