.footer{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 5vw;
    height: auto;
    margin-bottom: 30px;

    .footerContent{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 50px;

        .column{
            display: flex;
            flex-direction: column;

            .logo{
                width: 150px;
                height: auto;
            }

            .description{
                font-size: 20px;
                color: #9798ad;
                font-weight: 500;
                line-height: 2;
                max-width: 400px;
            }

            .row{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 50px;
                font-size: 20px;
                color: #9798ad;
                font-weight: 400;

                .icon{
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }   
                 
            }

            .rowSocial{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 50px;

                .circle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    background-color:transparent;
                    border-radius: 50%;
                    outline: none;
                    border: none;

                    .iconSocial{
                        width: 30px;
                        height: 30px;
                        fill: "#cccccc";
                    }   

                    &:hover{
                        cursor: pointer;
                        background-color:  #54BD7F;
                        box-shadow: 0 10px 10px #cccccc;
                        transition: all .5s ease-in-out;

                        .iconSocial path{
                            fill: #ffffff;
                            transition: all .5s ease-in-out;
                        }
                    }
                }
            }

            .header{
                font-size: 25px;
                color: #01022D;
                font-weight: 600;
            }

            .link{
                margin-top: 30px;
                font-size: 20px;
                color: #9798ad;
                font-weight: 400;
                text-decoration: none;

                &:visited{
                    text-decoration: none;
                    color: #9798ad;
                }

                &:hover{
                    cursor: pointer;
                    color:  #01022D;
                }
            }
        }
    }

    .copywright{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;

        .author{
            font-size: 15px;
            color: #9798ad;
            font-weight: 500;
        }
    }
}

.darkMode{
    background-color: #1a1919;

    .footerContent{
        .column{
            .header{
                color: #ffffff;
            }

            .link{
                &:hover{
                    color: #ffffff;
                }
            }

            .rowSocial{
                .circle{
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px){
    .footer{
        .footerContent{
            justify-content: flex-start;
            flex-wrap: wrap;

            .column{
                width: 200px;
                margin: 0 10px;

                &:first-child{
                    width: 300px;
                }

                .logo{
                    width: 100px;
                }

                .description{
                    font-size: 16px;
                }

                .row{
                    margin-top: 20px;
                    font-size: 16px;

                    .icon{
                        width: 25px;
                        height: 25px;
                    }
                }

                .rowSocial{
                    margin-top: 20px;
                }

                .header{
                    margin-bottom: 0;
                    font-size: 20px;
                }

                .link{
                    margin-top: 15px;
                    font-size: 16px;
                }
            }
        }
    }
}