body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato', sans-serif;
}

::-moz-selection {
  background: #77d397;
}
::-webkit-selection {
  background: #77d397;
}
::selection {
  background:#77d397;
}