.createAccount{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 0 5vw;
    height: auto;
    margin-bottom: 100px;

    .container{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid #cccccc;

        .text{
            display: flex;
            flex-direction: column;

            .header{
                color: #01022D;
                font-size: 35px;
                font-weight: 700;
                margin: 0;
            }

            .tagline{
                color: #9798ad;
                font-size: 20px;
                font-weight: 400;
            }
        }

        .createButton{
            width: auto;
            height: 50px;
            border-radius: 5px;
            border: none;
            outline: none;
            padding: 5px 20px;
            background-color: #54BD7F;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            transition: all .3s ease;

            &:hover{
                cursor: pointer;
                background-color: #32945b;
                transition: all .3s ease;
            }
        }
    }
}

.darkMode{
    background-color: #1a1919;

    .container{
        border-bottom: 1px solid #353434;

        .text{
            .header{
                color: #ffffff;
            }
        }
    }
}

@media only screen and (max-width: 1450px){
    .createAccount{
        .container{
            .text{
                .header{
                    font-size: 28px;
                }

                .tagline{
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .createAccount{
        .container{
            flex-direction: column;
        }
    }
}