.findProcess{
    height: auto;
    padding: 0 5vw;
    background-color: #ffffff;

    .process{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 150px auto;

        .step{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 200px;
            text-align: center;

            &:hover{
                .rectangle{
                    animation: rotate 0.6s ease-in-out both;
                }
            }

            .rectangle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 30px;
                transform: rotate(45deg);

                .far, .fas{
                    padding-bottom: 10px;
                    transform: rotate(-45deg);
                    font-size: 25px;
                }
            }

            .head{
                margin-top: 40px;
                color: #01022D;
                font-size: 16px;
                font-weight: 600;
            }

            .body{
                color: #9798ad;
                font-size: 14px;
                font-weight: 600;
            }

            .blue{
                background-color: #ecf5ff;
                color:  #5485bd;   
            }

            .orange{
                background-color: #fff2e7;
                color:  #bd8354;   
            }

            .green{
                background-color: #daf5e5;
                color:  #54BD7F;   
            }

            .purple{
                background-color: #f1eaff;
                color:  #7c54bd;   
            }
        }

        .arrowRight{ 
            width: 40px;
            height: auto;
            margin-bottom: 140px;
        }
    }
}

.darkMode{
    background-color: #1a1919;

    .process{
        .step{
            .head{
                color: #ffffff;
            }
        }
    }
}

@media only screen and (max-width: 850px){
    .findProcess{
        .process{
            flex-wrap: wrap;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;

            .step{
                margin: 20px auto;

                .rectangle{
                    width: 70px;
                    height: 70px;
                    border-radius: 20px;
                }
            }

            .arrowRight{
                display: none;
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
  }
  